/*General*/

*, *:focus {
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 10px;
    font-family: 'raleway', serif;
    color: #252525;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 p {
    text-align: left;
}

a {
    color: #845d2e;
    text-decoration: none;
    z-index: 1;
    background: transparent;
}

a:hover {
    color: #382815!important;
    text-decoration: none!important;
}


/*Logo*/

.logo h1 {
    text-align: center;
    font-size: 8em;
    font-family: 'playfair display', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -10px;
    padding: 30px;
}

.logo span {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: relative;
    ;
    display: inline-block;
    font-size: 0.3em;
    margin: -182px -165px -90px -60px;
    padding: 0 0 100px 145px;
    letter-spacing: 0;
}

.logo p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    font-family: 'playfair display', serif;
    font-weight: 100;
    padding: 0 0 30px;
}


/*Carousel*/

.carousel-control.right, .carousel-control.left {
    background: transparent;
    color: black;
}

.carousel-control.right span, a.right.carousel-control {
    margin-right: -70px;
}

.carousel-control.left span, a.left.carousel-control {
    margin-left: -70px;
}

.carousel-inner {
    min-height: 350px;
}

.carousel-inner .row {
    margin: 0;
}

.carousel-indicators {
    bottom: -35px;
}

.carousel-indicators li {
    border: 1px solid #ccc;
    width: 5px;
    height: 5px;
}

.carousel-indicators .active {
    background-color: #ccc;
    width: 5px;
    height: 5px;
}


/*Actual news*/

.actual {
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 375px;
}

.actual h1 {
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'playfair display', serif;
    width: 50%;
    float: right;
    padding: 0 30px 0 0;
}

.actual h6 {
    padding: 0 30px;
}

.actual img {
    margin: 21px 0 0 -12px;
    padding: 0px 20px 15px 0px;
    position: relative;
    width: 52%;
    height: 245px;
    display: block;
    object-fit: cover;
}

.actual a {
    border: none;
    color: #845d2e;
    clear: both;
    padding: 15px;
    float: right;
    background: transparent;
}


/*Search*/

.search input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    margin: 20px auto;
    padding: 10px;
}


/*Main news feed*/

.news .feed {
    margin: 10px auto;
    border: 1px solid #ccc;
    min-height: 275px;
    height: 100%;
    padding: 20px 20px 0;
}

.news .feed p {
    line-height: 14px;
}

.news .feed h5 {
    font-size: 1.2em;
}

.news .feed .small, .news .feed a, .yesterdayNews .news a, .yesterdayNews .news .small {
    float: left;
}

.news .feed a, .yesterdayNews .news a {
    clear: both;
}


/*Yesterday news*/

.yesterdayNews {
    border: 1px solid #ccc;
    margin: 0;
}

.yesterdayNews .news {
    padding: 0 20px 20px;
}

.yesterdayNews h4 {
    padding: 10px 20px 0;
    font-weight: bold;
    font-size: 1.3em;
}

.yesterdayNews h5 {
    font-weight: bold;
    font-size: 1.3em;
}


/*Pagination*/

.pagination li a, .pagination li a:focus {
    border: none;
    color: #252525;
}

.pagination .active>a {
    background: #845d2e;
    color: white!important;
}

.pagination .active>a:hover {
    background: #382815;
    color: white;
}

footer {
    text-align: center;
}

@media screen and (max-width: 480px) {
    /*Logo*/
    .logo h1 {
        font-size: 5em;
        padding: 30px 0 0;
        margin: 20px auto 0;
    }
    .logo span {
        font-size: 0.3em;
        margin: -47px 0 0px 0px;
        padding: 30px 0px 0px 0px;
    }
    .logo p {
        font-size: 1.1em;
        padding: 15px 75px;
    }
    /*Carousel*/
    .carousel-control.right span, a.right.carousel-control {
        margin-right: -25px;
    }
    .carousel-control.left span, a.left.carousel-control {
        margin-left: -25px;
    }
    /*Actual news*/
    .actual {
        height: auto;
    }
    .actual h1 {
        font-size: 1.1em;
        width: 50%;
        float: right;
        padding: 0 30px 0 0;
    }
    .actual img {
        margin: 20px 0 0 0px;
        padding: 0px 12px 5px 0px;
        width: 50%;
        height: 150px;
    }
    /*Search*/
    .search input {
        font-size: 1.5em;
    }
    /*Main news feed*/
    .news .feed {
        min-height: 350px;
    }
    .news .feed p {
        line-height: 14px;
    }
    .news .feed h5 {
        font-size: 1.2em;
    }
    .news .feed .small, .news .feed a, .yesterdayNews .news a, .yesterdayNews .news .small {
        float: left;
    }
    .news .feed a, .yesterdayNews .news a {
        clear: both;
    }
}
