<div class="container-fluid">
    <div ng-controller="newsController">
        <!-- Logo -->
        <div class="row-fluid logo">
            <h1><span>The</span> Journal</h1>
            <p>Primul site ce-ti aduce toate stirile la un loc.</p>
        </div>
        <div class="row-fluid">

            <!-- Carousel -->
            <div uib-carousel active="active" interval="7000">
                <div uib-slide ng-repeat="row in news.chunkedSlides" index="$index">
                    <div class="row row-eq-height">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 actual " ng-repeat="actual in row">
                            <h1>{{actual.title}}</h1>
                            <h6  ng-bind-html="actual.content"></h6>
                            <a href="{{actual.link}}"  target="_blank" class="btn btn-default btn-capsul">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search form -->
            <form class="search">
                <div class="input-prepend" ng-show="news.feeds.length > 0">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input class="span12" type="text" placeholder="Ce căutăm?..." ng-model="filterText" />
                </div>
            </form>
        </div>

        <!-- Main news feed section -->
        <div class="news" ng-repeat="feed in news.feeds | filter:filterText |orderBy: '-publishedDate' | startFrom: (news.bigCurrentPage -  1)*news.itemsPerPage :  (news.bigCurrentPage)*news.itemsPerPage  track by $index">
            <div class="row-fluid row-eq-height  ">
            <div class="col-xs-6 col-sm-3  feed">
                <h5><b>{{feed.title}}</b></h5>
                <p class="text-left">{{feed.contentSnippet}}</p>
                <span class="small">{{feed.publishedDate | date: 'medium'}}</span>
                <a href="{{feed.link}}"  target="_blank">read more...</a>
            </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Yesterday's news section -->
    <div class="row yesterdayNews">
      <h4>Yesterday's News:</h4>
      <div ng-repeat="feed in news.feeds | filter:filterText | orderBy: '-publishedDate' | dayFilter: news.yesterdayDate | limitTo: news.itemsPerRow  track by $index">
        <div  class="row-fluid row-eq-height">
          <div class="col-xs-6 col-sm-3  news">
              <h5><b>{{feed.title}}</b></h5>
              <p class="text-left">{{feed.contentSnippet}}</p>
              <span class="small">{{feed.publishedDate | date: 'medium'}}</span>
              <a href="{{feed.link}}" target="_blank">read more...</a>
          </div>
          </div>
      </div>
    </div>
    <!-- Pagination -->
    <div class="clearfix"></div>
      <div class="text-center ">
        <ul
          uib-pagination
          total-items="news.feeds.length"
          ng-model="news.bigCurrentPage"
          max-size="news.maxSize" class="pagination-sm pagination"
          boundary-link-numbers="true"
          rotate="true"
          items-per-page="news.itemsPerPage">
        </ul>
    </div>
</div>
